* {
    margin: 0;
    padding: 0;
}

#sp2 {
    color: red;
}

#sp1 {
    /* margin: 100px;
    padding: 100px; */
    color: black;
}

p span {
    color: blueviolet;
}

.fuente {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

span::after {
    content: '\A''\A'; white-space: pre;
}