<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <form>
        <label for="">Id</label>
        <input type="text" id="id1">
        <label for="">Nombre</label>
        <input type="text" id="id2">
        <label for="">Password</label><input type="text" id="id3">
        <button type="button" id="boton">Enviar</button>
         <a href="/adios">persona</a>
    </form>

    <script>
        var bEnviar = document.getElementById("boton")
        bEnviar.addEventListener("click", function () {
            let id_ = document.getElementById("id1").value
            let nombre_ = document.getElementById("id2").value
            let password_ = document.getElementById("id3").value
            console.log(id_ + " " + nombre_ + " " + password_)
            axios.post("http://localhost", {
                id: id_,
                nombre: nombre_,
                password: password_
            })
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
        })
    </script>
</body>

</html>